/* Dummy file to suppress IDE error.

The correct file to make main style changes file is /_sass/main.scss.

This file is ignored by Jekyll and changes here will not be reflected. */


body {
  /* Verification that this file is ignored.
    If this ever shows up in a file, investigate file exclusion config.*/
  background: hotpink;
}